<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="top-bar">
      <img [src]="logoUrl" class="logo" />

      <!-- clickable avatar -->
      <ion-avatar (click)="goToProfile()" class="clickable-avatar">
        <img [src]="avatarUrl" />
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Background image -->
  <div class="bg-container">
    <img src="assets/bg1.jpg" class="bg-image" />
  </div>
  
  <div class="overlay-content" >
    
    <div class="welcome">
      <h2>Welcome, {{ username }}!</h2>
      <button class="comic-btn" (click)="startQuiz()" #subjectCard>Let's Start!</button>
    </div>

<div class="subject-stats" >
  <div class="subject-card" *ngFor="let s of subjects"  >
    <div class="subject-circle" [style.borderColor]="s.color">
      <img [src]="s.icon" />
    </div>
    <div class="subject-info">
      <div class="subject-name">{{ s.name }}</div>
      <div class="grade">{{ s.grade }}</div>
    </div>
  </div>
</div>

  </div>
</ion-content>
